.services_s {
    width: min(1090px, 100%);
    box-shadow: 0 2px 37px 0 rgba(0, 0, 0, .1);
    min-height: 60vh;
}

.btn_change {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 20px 8px;
    width: 180px;
    border-bottom: 4px solid transparent;
    transition: var(--transition);
}

.btn_change span {
    display: block;
    width: 140px;
    font-weight: 900px !important;
}

.btn_change img {
    width: 80px;
}

.btn_change.active {
    border-bottom: 4px solid var(--main-color-one);
    color: var(--main-color-one);
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.data_changer_btns {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    padding: 0 20px;
    align-items: flex-start;
}

.btn_change.active:after {
    border-left: 22px solid #005eb8;
}

.btn_change:after {
    border-bottom: 22px solid transparent;
    border-left: 22px solid transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    bottom: -11px;
    content: "";
    display: block;
    position: absolute;
    transition: var(--transition);
    right: 41%;
    transform: rotate(-135deg);
}

.service_bx ul {
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    width: min(715px, 100%);
    gap: 20px;
    list-style-type: square;
    /* text-decoration: underline; */
    cursor: pointer;
    font-size: 18px;
    list-style: none;
}

.service_bx ul a{
    color: black;
}

.service_bx {
    width: 100%;
    padding: 32px 121px;
    margin-top: 30px;
}

.service_bx ul li:before {
    background-color: var(--main-color-one);
    content: "";
    display: inline-block;
    height: 8px;
    left: -17px;
    margin: 0;
    position: absolute;
    top: 11px;
    vertical-align: middle;
    width: 8px;
}

section#services > p {
    margin: 44px 0 !important;
}

.changeItem{
    display: none;
}

.service_id h2 {
    font-size: 18px;
}
